
html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

div {
    display: block;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.divider{
    width: 100%;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

#card:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(179,179,179,1);
  box-shadow: 0px 0px 14px 0px rgba(179,179,179,1);

  }

.toptext{
    @extend .d-flex;
    @extend font-weight-lighter;   
    @extend justify-content-center;
}


body.dark-mode {
    background-color:#111;
    color:#eee;
    
     
}
#content{
    color: #353942;
    font-weight: lighter;
    
}



hr{ border-top: 1px solid #ccc }

body.light-mode {
    background-color:#eee;
    color:#111;
}
.custom_table{
    border-collapse: separate;
    border-spacing: 2px 5px;
    background-color:beige;
}
td{
    padding: 10px;
}
#futer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
    font-size: 5;
}

