# This file is a general .ucf for Basys2 rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# clock pin for Basys2 Board


# Pin assignment for EppCtl
# Connected to Basys2 onBoard USB controller


# Pin assignment for DispCtl
# Connected to Basys2 onBoard 7seg display
NET "seg<0>" LOC = "L14"; # Bank = 1, Signal name = CA
NET "seg<1>" LOC = "H12"; # Bank = 1, Signal name = CB
NET "seg<2>" LOC = "N14"; # Bank = 1, Signal name = CC
NET "seg<3>" LOC = "N11"; # Bank = 2, Signal name = CD
NET "seg<4>" LOC = "P12"; # Bank = 2, Signal name = CE
NET "seg<5>" LOC = "L13"; # Bank = 1, Signal name = CF
NET "seg<6>" LOC = "M12"; # Bank = 1, Signal name = CG


NET "an0" LOC = "F12"; # Bank = 1, Signal name = AN0

# Pin assignment for LEDs

NET "led<2>" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "led<1>" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "led<0>" LOC = "M5" ;  # Bank = 2, Signal name = LD0

# Pin assignment for SWs

NET "a" LOC = "K3";  # Bank = 3, Signal name = SW2
NET "b" LOC = "L3";  # Bank = 3, Signal name = SW1
NET "c" LOC = "P11";  # Bank = 2, Signal name = SW0

